helloworld:
  image:
    repository: techzer/helloworld
    tag: 1
  hpa:
    minReplicas: 2
    maxReplicas: 10
    CPUAverageUtilization: 50

envoy:
  image:
    repository: envoyproxy/envoy
    tag: v1.29-latest
  service:
    port: 80
  gateway:
    host: "challenge.hitechist.com"
