apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: challenge
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ssejzer/challenge.git
    targetRevision: HEAD
    path: helm-charts
  destination:
    server: https://kubernetes.default.svc
    namespace: challenge
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

