# prometheus-app.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd  # Change if Argo CD is in a different namespace
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus
    targetRevision: 25.18.0  # Check latest version with `helm search repo prometheus`
    helm:
      values: |
        alertmanager:
          enabled: true
        pushgateway:
          enabled: true
        server:
          service:
            type: LoadBalancer
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

